html,
body {
  height: 100%;
  /* margin: 0;
  padding: 0; */
}

#introText{
  margin-top: 22px;
  margin-bottom: 22px;
}

/* this is a bit hacky/lazy as don't want to put pano and map in div */
#gameButtons{
  margin-top: 400px;
}

#pano{
  float: left;
  height: 50%;
  width: 50%;
}

#guessMap {
  float: right;
  height: 50%;
  width: 50%;
}

#guessResults{
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 22px;
}
